.overview {
  &__account {
    background-color: #F5F7FF;
    border: 1px solid rgba(41,94,255,.16);
    border-radius: 1rem;
    margin: 20px;
    padding: 1rem;
    color: #2a343d;
    
    &__number {
      font-family: 'Montserrat Medium';
      font-size: 1.2rem;
    }

    &__balance {
      display: flex;
      flex-direction: column;
      font-family: 'Montserrat Regular';
      font-size: 1.1rem;

      span:nth-child(2) { 
        font-family: 'Nunito Bold';
        color: #894590;
      }
    }
  }

  &__table {
    height: calc(100vh - 318px);
    overflow: auto;

    td:nth-child(3) {
      font-family: 'Nunito Bold';
    }
  }
}